.App {
  text-align: center;
}
.nav-child{
  margin-right: 3vw;
  background: lavender;
}
.nav-1{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: lavender;
}
.nav-child-title{
  margin-right: 75vw;
  background-color: lavender;
  font-size: 25px;
  padding-bottom: 0 auto;
  padding-top: 0 auto;
}
h2{
  text-decoration:none;
  background-color: lavender;
  color:black;
}
a:link{
  text-decoration: none;
}
a.nav-child:hover, h2:hover{
  background-color: rgb(197, 197, 248);
}
